.box{
    display: inline-block;
    background-color: #3A4042;
    box-shadow: 10px 10px 0 #000;
    text-align: center; /*o valor 'inherit' também funciona, aliás funciona para qualquer propriedade*/
    padding: 20px 0;
}

/*Para alterar o que está dentro da caixa:*/
/*#seletor_de_id tag_dentro_do_id{
    }*/

.box .title{
    margin-bottom: 40px;
}    

