.subtitle {
    font-family: "Press Start 2P", sans-serif ;
    font-size: 30px;
    color:aliceblue;
    text-shadow: 2px 2px 0 #000;
}

.subtitle.-html{
    margin-left: 110px;
    margin-top: 62px;
    text-shadow: none;
    font-size: 25px;
}